@model ChatWithMe.Web.Models.Auth.SignUpModel
@{
    ViewData["Title"] = "ChatWithMe | Sign Up";
}

<div class="form-layout">
    <div class="default-form">
        <h2>Sign Up</h2>
        @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post, new { @class = "auth-form" }))
        {
            <div class="form-input">
                @Html.LabelFor(x => x.Username, "Username")
                @Html.TextBoxFor(x => x.Username)
            </div>

            <div class="form-input">
                @Html.LabelFor(x => x.Email, "Email")
                @Html.TextBoxFor(x => x.Email, "", new { type = "email" })
            </div>

            <div class="form-input">
                @Html.LabelFor(x => x.Password, "Password")
                @Html.PasswordFor(x => x.Password)
            </div>

            <div class="form-input">
                @Html.LabelFor(x => x.ConfirmPassword, "Confirm password")
                @Html.PasswordFor(x => x.ConfirmPassword)
            </div>
            <div class="form-input">
                <button type="submit">Send</button>
            </div>
        }
    </div>
</div>