<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-layout">
        <div class="header-logo">
            @Html.ActionLink("ChatWithMe", "SignUp", "Auth")
        </div>
        <ul class="header-links">
            <li class="link-active">
                @Html.ActionLink("Sign Up", "SignUp", "Auth")
            </li>
            <li>
                @Html.ActionLink("Sign In", "SignIn", "Auth")
            </li>
            <li>
                @Html.ActionLink("Sign Out", "SignOut", "Auth")
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>